<div
  class="d-flex justify-content-center align-items-center bg-secondary-subtle vh-100"
>
  <div class="card w-50">
    <div class="card-header">
      <h1 class="header-text">Restablecer Contraseña</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="resetForm">
        <div class="form-group mb-3">
          <label for="newPassword">Nueva Contraseña</label>
          <input
            type="newPassword"
            id="newPassword"
            class="form-control"
            formControlName="newPassword"
            [ngClass]="{
              error: resetForm.get('newPassword')?.touched
                ? getError('newPassword')
                : null
            }"
          />
          <span class="text-danger"
            >{{
              resetForm.get("newPassword")?.touched
                ? getError("newPassword")
                : null
            }}
          </span>
        </div>
        <div class="form-group mb-3">
          <label for="confirmPassword">Reescribir Contraseña</label>
          <input
            type="confirmPassword"
            id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{
              error: resetForm.get('confirmPassword')?.touched
                ? getError('confirmPassword')
                : null
            }"
          />
          <span class="text-danger"
            >{{
              resetForm.get("confirmPassword")?.touched
                ? getError("confirmPassword")
                : null
            }}
          </span>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary">Restablcer Contraseña</button>
    </div>
  </div>
</div>
