<h2 mat-dialog-title class="dialog-title">🔒 Restablecer Contraseña</h2>

<mat-dialog-content>
    <form [formGroup]="resetPasswordForm" class="dialog-form">
        <mat-form-field appearance="outline" class="full-width" color="primary">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Ingresa tu nombre de usuario" formControlName="name" required
                autocomplete="username">
            <mat-error *ngIf="resetPasswordForm.get('name')?.hasError('required')">
                Este campo es obligatorio.
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('name')?.hasError('minlength')">
                Mínimo 3 caracteres.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [disabled]="resetPasswordForm.invalid">
        Enviar correo
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>