.dialog-title {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dialog-form {
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

mat-dialog-container {
  border-radius: 16px !important;
  padding: 24px;
}
